@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Sistema de Gesiton de Estudiantes</h1>
    <p>Todos los derechos reservados a Joaquin Chacon</a>.</p>
</div>


